<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport"
   content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="WIE Assignment 06">
<meta name="author" content="Roberto Confalonieri">
<title>Flask - Hello </title>

<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>


<body>
   <div class="container">

		<div class="row">
        <div class="col-md-12 order-md-1">
		         <h1>Hello {{ name }}!</h1>
        </div>
		 </div>

      <div class="row">
        <div class="col-md-12 order-md-1">
          <a href='/'>Go to the home page</a>
        </div>
      </div>

      <footer class="my-5 text-muted text-center text-small">
         <p class="mb-1">&copy; 2020 ACME Inc.</p>
      </footer>
   </div>
</body>
</html>
